// _colors.scss

// Emeralds
$Emerald1: #a0ffcb;
$Emerald2: #00e596;
$Emerald3: #00d890;
$Emerald4: #00cc85;

//background
$black1: #1a1a1a;
$black2: #222222;

// Additional Colors
$error-color: #eb5351;
$warning-color: #f4b64c;

// Shades
$gray1: #616262;
$gray3: #585959;
$gray5: #4e4f4f;
$gray7: #454646;
$gray9: #3c3d3c;
$gray11: #2e2e2e;
$gray13: #292a2a;
$gray15: #202020;
$gray17: #171717;

// Stones
$stone1: #fafefd;
$stone3: #f1f5f4;
$stone5: #dee2e1;
$stone7: #cccfce;
$stone9: #b9bcbb;
$stone11: #a7a9a8;
$stone13: #9ea09f;
$stone15: #818383;
$stone17: #6f7070;
