@import "../../styles/colors";

.bottom-navigation {
 background-color: $black2;
 position: absolute;
 bottom: 0;
 width: 100%;
 padding: 0 .5rem;
.lottie-container {
    display: flex;
flex-direction: row-reverse;
justify-content: space-between;
    .nav-item {
        padding: .5rem 0 .8rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
       .nav-icon {
        width: 60px;
        height: 40px;
       }
       .nav-name {
        font-size: .7rem;
        font-family: iranYekanT;
       }
    }
    .nav-item.active {
        .nav-name {
        
            animation: navTextAnimate .2s ease-out forwards .25s;
        }
    }
}
}


@keyframes navTextAnimate {
    0%{
        transform: scale(1);
        color: $stone7;
    } 50% {
        transform: scale(.90);
    } 100% {
        color: $Emerald1;
        transform: scale(1);
    }
}
