@import "../../styles//colors.scss";

.homepage {
  background-color: $black1;
  .homepage-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
